In [43]:
from collections import Counter
import pandas as pd
import numpy as np
import os

In [7]:
root = "."
activities = pd.read_csv(os.path.join(root, "..", "config", "chembl_activities", "activities.csv"), low_memory=False)

In [8]:
print(f"Number of activities: {len(set(activities['activity_id']))}")
print(f"Number of unique compounds: {len(set(activities['molregno']))}")
print(f"Number of unique assays: {len(set(activities['assay_id']))}")

Number of activities: 24267312
Number of unique compounds: 2774266
Number of unique assays: 1890531

In [9]:
activities.columns

Index(['activity_id', 'assay_id', 'doc_id', 'record_id', 'molregno',
       'standard_relation', 'standard_value', 'standard_units',
       'standard_flag', 'standard_type', 'activity_comment',
       'data_validity_comment', 'potential_duplicate', 'pchembl_value',
       'bao_endpoint', 'uo_units', 'qudt_units', 'toid', 'upper_value',
       'standard_upper_value', 'src_id', 'type', 'relation', 'value', 'units',
       'text_value', 'standard_text_value', 'action_type'],
      dtype='object')

In [10]:
# Filter columns
columns = ['activity_id', 'assay_id', 'molregno','standard_relation', 'standard_value', 'standard_units', 'standard_type', 'activity_comment',
           'data_validity_comment', 'pchembl_value','standard_upper_value','standard_text_value', 'action_type']
activities = activities[columns]

In [56]:
activities

,activity_id,assay_id,molregno,standard_relation,standard_value,standard_units,standard_type,activity_comment,data_validity_comment,pchembl_value,standard_upper_value,standard_text_value,action_type
0,31863,54505,180094,>,100000.0,nM,IC50,NaN,NaN,NaN,NaN,NaN,NaN
1,31864,83907,182268,=,2500.0,nM,IC50,NaN,NaN,5.60,NaN,NaN,NaN
2,31865,88152,182268,>,50000.0,nM,IC50,NaN,NaN,NaN,NaN,NaN,NaN
3,31866,83907,182855,=,9000.0,nM,IC50,NaN,NaN,5.05,NaN,NaN,NaN
4,31867,88153,182855,NaN,NaN,nM,IC50,Not Determined,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24267307,29054631,2596842,3238772,=,NaN,NaN,kon,1297011,NaN,NaN,NaN,NaN,NaN
24267308,29054632,2596842,3238772,=,NaN,s-1,k_off,1297011,NaN,NaN,NaN,NaN,NaN
24267309,29054633,2596842,3195979,=,503.0,nM,IC50,1297012,NaN,6.30,NaN,NaN,NaN
24267310,29054634,2596842,3195979,=,NaN,NaN,kon,1297012,NaN,NaN,NaN,NaN,NaN
24267311,29054635,2596842,3195979,=,NaN,s-1,k_off,1297012,NaN,NaN,NaN,NaN,NaN

In [57]:
len(activities[activities['standard_value'].isna()])

3345340

In [58]:
type_unit = Counter([(i,j) for i,j in zip(activities['standard_type'], activities['standard_units']) if i == 'IC50'])

In [60]:
len(type_unit)

101

In [61]:
units = Counter(activities['standard_units'].tolist())
units = pd.DataFrame([[i, units[i]] for i in sorted(units, key=lambda x: units[x])[::-1]], columns=['unit', 'count'])

total_count = units['count'].sum()
units['cumulative_prop'] = (units['count'].cumsum() / total_count).round(3)

In [48]:
u = "\n".join(np.array(units['unit'].tolist()).astype(str))
with open(os.path.join(root, "..", "config", "chembl_activities", 'units.csv'), "w") as out:
    out.write(u)

In [62]:
units[:10]

      unit     count  cumulative_prop
0       nM  12587576            0.519
1        %   5200597            0.733
2      NaN   3354717            0.871
3  ug.mL-1    952582            0.911
4      s-1    828026            0.945
5       uM    257898            0.955
6       hr    128555            0.961
7       mm     95027            0.964
8  ug ml-1     77448            0.968
9  mg.kg-1     65710            0.970

In [63]:
units[:50]

             unit     count  cumulative_prop
0              nM  12587576            0.519
1               %   5200597            0.733
2             NaN   3354717            0.871
3         ug.mL-1    952582            0.911
4             s-1    828026            0.945
5              uM    257898            0.955
6              hr    128555            0.961
7              mm     95027            0.964
8         ug ml-1     77448            0.968
9         mg.kg-1     65710            0.970
10  mL.min-1.kg-1     46177            0.972
11     cells.uL-1     42368            0.974
12     ng.hr.mL-1     38515            0.976
13      degrees C     32408            0.977
14              g     31362            0.978
15        mg kg-1     27952            0.979
16   mL.min-1.g-1     26600            0.980
17              C     24914            0.982
18         IU.L-1     23865            0.982
19          U.L-1     22233            0.983
20        mEq.L-1     21153            0.984
21         L.kg-1     20652            0.985
22              s     13825            0.986
23         % ID/g     13011            0.986
24      umol.kg-1     11549            0.987
25            day     11298            0.987
26     10'-6 cm/s      9662            0.988
27           mmHg      9630            0.988
28         uL/min      9143            0.988
29             pg      8921            0.989
30             fL      8717            0.989
31     10^-6 cm/s      8451            0.989
32            min      7796            0.990
33          ng/ml      7781            0.990
34          ucm/s      7348            0.990
35             mM      7144            0.991
36           nm/s      6324            0.991
37          meq/L      4773            0.991
38             ug      4712            0.991
39             mg      4180            0.991
40  10'-2 umol/ml      3972            0.992
41            ppm      3912            0.992
42          mg/dl      3670            0.992
43             /s      3611            0.992
44             um      3569            0.992
45        M-1 s-1      3354            0.992
46        /100WBC      3111            0.993
47           ng/g      3110            0.993
48           /min      3109            0.993
49           /M/s      3027            0.993